@model AppVendasWeb.Models.Venda

@{
	ViewData["Title"] = "Details";
}

<h1>Detalhess</h1>

<div>
	<h4>Venda</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DataVenda)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DataVenda)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ValorTotal)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ValorTotal)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.NotaFiscal)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.NotaFiscal)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Cliente)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Cliente.CPF)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" class="btn btn-info" asp-route-id="@Model?.ClienteId">Edit</a>
	<a class="  m-2 btn btn-light" asp-action="Index">Voltar</a>
</div>
